<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>400664853208-217m7e569miuue15ss2nm040dinimkvc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.400664853208-217m7e569miuue15ss2nm040dinimkvc</string>
	<key>API_KEY</key>
	<string>AIzaSyAavRvdYRY78Xn2rLMJRHMgvwElShRrsXo</string>
	<key>GCM_SENDER_ID</key>
	<string>400664853208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ahadsheriff.respondFirst</string>
	<key>PROJECT_ID</key>
	<string>respondfirst-aaj</string>
	<key>STORAGE_BUCKET</key>
	<string>respondfirst-aaj.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:400664853208:ios:8d196778b43c9a3b</string>
	<key>DATABASE_URL</key>
	<string>https://respondfirst-aaj.firebaseio.com</string>
</dict>
</plist>